/* style: https://www.canva.com/colors/color-palettes/soft-slippers/ */

body {
    background-color: #E7F2F8;
    font-family: 'Montserrat', sans-serif;
}
.navbar-brand {
    color: #74BDCB;
}
.navbar {
    background-color: #F8FAFD;
}
.nav-link {
    color: #B4AAA9;
}

.video-size {
    max-width: 70%;
    height: auto;
}

.even-project-section-bg {
    background-color: #74BDCB;
}

.odd-project-section-bg {
    background-color: #F8FAFD;
}

#project-listing-section {
    margin-top: 4%;
}

#contact-section {
    margin-top: 8%;
}

.text-color-on-even-project-section {
    color: #F8FAFD;
}

.text-color-on-odd-project-section {
    color: #74BDCB;
}
