/* style: https://www.canva.com/colors/color-palettes/soft-slippers/ */

body {
    background-color: #FFF0DF;
}
.navbar-brand {
    color: #F0C9B3;
}
.navbar {
    background-color: #F8FAFD;
}
.nav-link {
    color: #B4AAA9;
}
